@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

       .root {
        primary-color: teal;
     }

        textarea {
            width: 80%;
            height: 10vh;
            display: block;
            margin: auto;
            padding: 1rem;
            background-color: teal;
            font-size: 2rem;
            color: white;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        #output {
            border: 1px solid black;
            height: 10vh;
            width: 80%;
            margin: auto;
            padding: 2rem;
            background-color: teal;
            font-size: 2rem;
            color: white;
            text-align: center;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            display: block;
        }

        #btn-translate {
            border: 1px solid;
            width: 10%;
            margin: auto;
            padding-top: 1rem;
            background-color: #9bd5c9;
            font-size: 1.5rem;
            box-sizing: border-box;
            display: block;
            color: black;
            cursor: pointer;
            
        }

        h1 {
            text-align: center;
            font-size: 2rem;
            font-style: italic;
            color: white;
            background-color: teal;
            padding: 1rem;
            display: block;
            width: 165vh;
            height: 5vh;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        #lib-header {
            text-align: center;
        }

        footer {
             display: block;
             font-size: 1.1em;
             position: fixed;
             bottom: 0%;
             width: 100%;
             padding: 1rem 0rem;
             background-color: teal;
             text-align: center;
             align-items: center;
             justify-content: center;
             margin-block-start: 1em;
             margin-block-end: 0em;
             margin-inline-start: 0px;
             margin-inline-end: 0px;
             font-weight: bold;
             color: white;
         }
        
